<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zqg.cct.mapper.TSesErrorLogMapper">
	<resultMap id="BaseResultMap" type="com.zqg.cct.domain.TSesErrorLog" >
	 <id column="UUID" property="uuid" jdbcType="VARCHAR" />
	 <result column="UUID" property="uuid"/>
	 <result column="BIZ_TYPE" property="bizType"/>
	 <result column="ERROR_CODE" property="errorCode"/>
	 <result column="ERROR_MSG" property="errorMsg"/>
	 <result column="RMK" property="rmk"/>
	 <result column="PAY_AMT" property="payAmt"/>
	 <result column="IN_MNO" property="inMno"/>
	 <result column="DT_CTE" property="dtCte"/>
	 <result column="TM_CTE" property="tmCte"/>
	 <result column="FEE_AMT" property="feeAmt"/>
	 <result column="SUB_TYPE" property="subType"/>
	 <result column="ORD_NO" property="ordNo"/>
	</resultMap>
	
	<sql id="whereQueryCondition">
			<if test="uuid!= null and uuid!= ''">
				UUID=#{uuid}
			</if>
			<if test="bizType!= null and bizType!= ''">
				BIZ_TYPE=#{bizType}
			</if>
			<if test="errorCode!= null and errorCode!= ''">
				ERROR_CODE=#{errorCode}
			</if>
			<if test="errorMsg!= null and errorMsg!= ''">
				ERROR_MSG=#{errorMsg}
			</if>
			<if test="rmk!= null and rmk!= ''">
				RMK=#{rmk}
			</if>
			<if test="payAmt!= null and payAmt!= ''">
				PAY_AMT=#{payAmt}
			</if>
			<if test="inMno!= null and inMno!= ''">
				IN_MNO=#{inMno}
			</if>
			<if test="dtCte!= null and dtCte!= ''">
				DT_CTE=#{dtCte}
			</if>
			<if test="tmCte!= null and tmCte!= ''">
				TM_CTE=#{tmCte}
			</if>
			<if test="feeAmt!= null and feeAmt!= ''">
				FEE_AMT=#{feeAmt}
			</if>
			<if test="subType!= null and subType!= ''">
				SUB_TYPE=#{subType}
			</if>
			<if test="ordNo!= null and ordNo!= ''">
				ORD_NO=#{ordNo}
			</if>
	</sql>
	
	<select id="findByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
		<if test=" startRow != null and startRow != '' ">select * from(select a.*,rownum rn from(</if>
		SELECT
			UUID, BIZ_TYPE, ERROR_CODE, ERROR_MSG, RMK, PAY_AMT, IN_MNO, DT_CTE, TM_CTE, FEE_AMT, SUB_TYPE, ORD_NO
		FROM SES.t_ses_error_log
		WHERE
			<include refid="whereQueryCondition"></include>
		<if test=" startRow != null and startRow != '' ">) a where rownum &lt;= #{endRow}) where rn &gt;#{startRow}</if>
	</select>
	
	<select id="findByConditionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			COUNT(*) 
		FROM SES.t_ses_error_log
		WHERE
		<include refid="whereQueryCondition"></include>
	</select>
	
	<insert id="insert" parameterType="com.zqg.cct.domain.TSesErrorLog">
		INSERT INTO SES.t_ses_error_log (
				UUID,
				BIZ_TYPE,
				ERROR_CODE,
				ERROR_MSG,
				RMK,
				PAY_AMT,
				IN_MNO,
				DT_CTE,
				TM_CTE,
				FEE_AMT,
				SUB_TYPE,
				ORD_NO,
		) VALUES (
				#{uuid},
				#{bizType},
				#{errorCode},
				#{errorMsg},
				#{rmk},
				#{payAmt},
				#{inMno},
				#{dtCte},
				#{tmCte},
				#{feeAmt},
				#{subType},
				#{ordNo},
		)
	</insert>
	
	
	<select id="getByKey" parameterType="String" resultMap="BaseResultMap">
		SELECT
			UUID, BIZ_TYPE, ERROR_CODE, ERROR_MSG, RMK, PAY_AMT, IN_MNO, DT_CTE, TM_CTE, FEE_AMT, SUB_TYPE, ORD_NO
		FROM 
			SES.t_ses_error_log
		WHERE
			uuid=#{uuid}
	</select>
	
	<update id="update" parameterType="com.zqg.cct.domain.TSesErrorLog">
		UPDATE SES.t_ses_error_log 
		SET
				UUID=#{uuid},
				BIZ_TYPE=#{bizType},
				ERROR_CODE=#{errorCode},
				ERROR_MSG=#{errorMsg},
				RMK=#{rmk},
				PAY_AMT=#{payAmt},
				IN_MNO=#{inMno},
				DT_CTE=#{dtCte},
				TM_CTE=#{tmCte},
				FEE_AMT=#{feeAmt},
				SUB_TYPE=#{subType},
				ORD_NO=#{ordNo},
		WHERE
			uuid=#{uuid}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE 
			SES.t_ses_error_log 
		WHERE
			uuid=#{uuid}
	</delete>
	
</mapper>
